:root {
  --main-color: #f2f3f3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-color);
}

.container .ql-editor {
  background-color: white;
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}
